@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grayish--blue: hsl(246, 25%, 77%);

  --ff-main: "Poppins", sans-serif;
}

/* RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* GLOBAL */

html {
  font-size: 1rem;
  font-family: var(--ff-main);
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;

  background-image: url(../images/bg-intro-mobile.png);
  background-size: cover;
  background-color: var(--red);
}

span {
  font-weight: 600;
}

.terms {
  color: var(--red);
  font-weight: 600;
}

/* MOBILE FIRST (375px) */

.container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  padding: 1.5rem;
}

/* SHOWCASE TEXT H1 and DESCRIPTION */

.showcase {
  color: white;
  max-width: 500px;
}

.showcase h1 {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-top: 4rem;
}

.showcase p {
  margin-top: 1.5rem;
  line-height: 1.6;
}

/* CONTAINER FOR "TRY IT FREE 7 DAYS..." and SIGN UP INPUT */

.form {
  max-width: 500px;
  flex-grow: 1;
}

/* "TRY IT FREE 7 DAYS..." */

.form__trial-text {
  padding: 1.25rem 4.5rem;
  background-color: var(--blue);
  border-radius: 0.5rem;

  width: 100%;

  color: white;
  line-height: 1.6;

  margin-top: 3.8rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

/* FORM SIGN UP INPUT CONTAINER */

.form__signup {
  padding: 1.4rem 1.4rem 0.7rem;
  background-color: white;
  /* max-width: 500px; */
  border-radius: 0.5rem;
  margin-top: 1.3rem;

  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* INDIVIDUAL FORM INPUT */

.input-container {
  position: relative;
}

input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid lightgray;
}

input:focus {
  outline: 1px solid var(--blue);
}

input::placeholder {
  font-weight: 600;
  font-size: 0.9rem;
}

/* ERROR MESSAGE STYLING */

.error-input {
  visibility: hidden;
  color: var(--red);
  font-size: 0.8rem;
}

.error-text {
  text-align: right;
  font-size: 0.6rem;
  font-style: italic;
  font-weight: 400;
}

.show-error {
  visibility: visible;
}

.hasError {
  border: 2px solid red;
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.error-icon {
  position: absolute;
  right: 0;
  top: 25%;
  transform: translateX(-25px);
}

/* BUTTON ("CLAIM FREE TRIAL") */
button {
  width: 100%;
  padding: 1rem 0.6rem;

  word-spacing: 0.16rem;

  border-radius: 0.5rem;
  border: none;

  background-color: var(--green);
  text-transform: uppercase;
  font-weight: 500;
  color: white;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

button:hover {
  opacity: 80%;
  cursor: pointer;
}

/* FORM FOOTER (TERMS AND SERVICES) */
.form__footer {
  font-size: 0.7rem;
  padding: 1rem;
  padding-top: 0.6rem;
  line-height: 1.8;

  color: var(--grayish--blue);
}

.form__footer a {
  cursor: pointer;
  text-decoration: none;
}

/* == MEDIA QUERIES == */

/* 1000px */
@media screen and (min-width: 62.5rem) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
  }
}

/* 1020px */
@media screen and (min-width: 63.75rem) {
  .container {
    flex-direction: row;
    justify-content: center;
  }

  .form {
    max-width: 538px;
  }

  .form__trial-text {
    margin-top: 0rem;
  }

  .form__signup {
    padding: 2.5rem 2.5rem 1.8rem;
  }

  .showcase h1 {
    font-size: 3rem;
    text-align: left;
    line-height: 1.1;
    margin-top: 1rem;
  }

  .showcase p {
    text-align: left;
    margin-top: 1.8rem;
  }
}

/* 1440px */
@media screen and (min-width: 90rem) {
  .showcase {
    margin-right: 4.2rem;
  }

  .form__trial-text {
    margin-top: 0.5rem;
    padding: 1.2rem 4.5rem 1rem;
  }

  .form__signup {
    padding: 2.5rem 2.5rem 1.8rem;
  }

  .input-container {
    margin-bottom: 0.2rem;
  }

  input {
    padding-left: 2rem;
  }

  .form__footer {
    padding-top: 1rem;
  }
}
